<div class="login-container d-flex align-items-center justify-content-center row">
    <div class="col-4 login-form">
        <h1 class="text-center text-purple">Đăng nhập</h1>
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="form-group height-93px">
                <label class="text-purple" for="email">Tài khoản</label>
                <input type="text" 
                    formControlName="email" placeholder="Email..."
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
                    <div *ngIf="f.email?.errors?.required">Vui lòng nhập tài khoản</div>
                </div>
            </div>
            <div class="form-group height-93px">
                <label class="text-purple" for="password">Mật khẩu</label>
                <input type="password" 
                    formControlName="password" placeholder="Mật khẩu..."
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
                    <div *ngIf="f.password?.errors?.required">Vui lòng nhập mật khẩu</div>
                    <div *ngIf="f.password?.errors?.minlength">Mật khẩu ít nhất 8 kí tự</div>
                </div>
            </div>
            <div class="form-group height-93px">
                <label class="text-purple" for="confirmpassword">Nhập lại mật khẩu</label>
                <input type="password" 
                    formControlName="confirmpassword" placeholder="Mật khẩu..."
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }" />
                <div *ngIf="submitted && f.confirmpassword?.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmpassword?.errors?.required">Vui lòng nhập lại mật khẩu</div>
                    <div *ngIf="f.confirmpassword?.errors?.notSame">Mật khẩu không khớp.</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-purple">Đăng ký</button>
                <a routerLink="/signin" class="btn text-purple">Đăng nhập</a>
            </div>
        </form>        
    </div>
</div>
