.house-img {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.house-img img {
    width: 90%;
    height: 100%;
}

.product-badge {
    display: flex;
    align-items: center;
    background: #ffcdd2;
    color: #c63737;
    width: fit-content;
    border-radius: 5px;
}

.card-height {
    height: 550px;
}

.font-size-20pt {
    font-size: 18pt;
}

.title {
    color: black;
    font-weight: bold;
    font-size: 15pt;
}

.line-height-20 {
    line-height: 35px;
}
agm-map {
    height: 400px;
}