
<div class="d-flex justify-content-center p-grid">
    <div class="p-col-10 p-3 my-3">
        <div class="card p-3">
            <div class="d-flex justify-content-between">
                <div class="title">{{product.title}}</div>
                <span class="product-badge px-3">{{product.acreage}}</span>
            </div>
            <div class="row my-3">
                <div class="house-img mt-2 col-6">
                    <img src="../../assets/images/house.jpg" alt="">
                </div>
                <div class="col-6">
                    <div class="product-detail line-height-20 font-weight-bold">{{product.title}}</div>
                    <div class="line-height-20"><strong>Nội dung: </strong> {{product.intro}}</div>
                    <div class="line-height-20"><strong>Diện tích: </strong> {{product.area}}</div>
                    <div class="line-height-20"><strong>Địa chỉ: </strong> {{product.address}}</div>
                    <div class="line-height-20"><strong>Diện tích: </strong> {{product.area}}</div>
                    <div class="line-height-20">
                        <span><b>Giá thuê: </b></span>
                        <span class="text-danger font-size-20pt my-2"><b>{{product.price}}</b></span>
                    </div>
                </div>
            </div>
            <agm-map [latitude]="location?.lat" [longitude]="location?.lng" [zoom]="location?.zoom">
                <agm-marker [latitude]="location?.lat" [longitude]="location?.lng"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>