.filter-container {
    text-align: center;
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border-bottom: 1px solid #d9dad9;
}

.product-details > div {
    display: flex;
    align-items: center;
}

.product-details > div img {
    margin-right: 14px;
}

.product-detail {
    margin: 1em 1em 0 1em;
    color: black;
    font-weight: bold;
    height: 48px;
}

.ui-panel-content {
    padding: 1em;
}

.dark-theme :host ::ng-deep .product-details,
.dark-theme :host ::ng-deep .product-detail {
    border-bottom: 1px solid #191919;
}

@media (max-width: 1024px) {
    .product-details img {
          width: 75px;
    }

    .filter-container {
        text-align: left;
    }
}

.btn-purple {
    background-color: #9C27B0 !important;
    border: 1px solid #9C27B0 !important;
    color: white;
}

.house-img {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
}

.house-img img {
    width: 90%;
    height: 100%;
}

.product-badge {
    background: #ffcdd2;
    color: #c63737;
    width: fit-content;
    border-radius: 3px;
}

.card-height {
    height: 550px;
}

.font-size-20pt {
    font-size: 18pt;
}