

<p-dataView #dv [value]="products" [paginator]="true" [rows]="6" paginatorPosition="both" filterBy="title"
    [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="p-grid">
                <div class="p-col-2">
                    <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Giá" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="p-col-2">
                    <p-dropdown [options]="sortDistrict" [(ngModel)]="sortKey" placeholder="Quận" (onChange)="onSortDistrict($event)" [showClear]="true" [style]="{'min-width':'140px'}"></p-dropdown>
                </div>
                <div class="p-col-2 filter-container">
                    <div style="position:relative">
                        <input type="search" pInputText placeholder="Tìm kiếm" (input)="dv.filter($event.target.value)">
                    </div>
                </div>
                <div class="p-col-3" style="text-align:right">
                    <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                </div>
            </div>
        </div>
    </p-header>
    <ng-template let-product pTemplate="gridItem">
        <div class="p-col-4 px-3 my-3">
            <div class="card p-3">
                <div class="d-flex justify-content-end">
                    <span class="product-badge px-3">{{product.acreage}}</span>
                </div>
                <div class="house-img mt-2">
                    <img src="../../assets/images/house.jpg" alt="">
                </div>
                <div class="product-detail text-center">{{product.title}}</div>
                <div class="mb-3 text-center"><strong>Diện tích: </strong> {{product.area}}</div>
                <div class="d-flex justify-content-between">
                    <span class="text-danger font-size-20pt my-2"><b>{{product.price}}</b></span>
                    <button class="btn btn-purple" type="button" (click)="selectProduct($event, product)" 
                        [style]="{width:'150px', height: '40px'}"><b>Chi Tiết</b></button>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template let-product pTemplate="listItem">
        <div class="p-col-12">
            <div class="product-details">
                <div>
                    <div class="p-grid">
                        <div class="p-col-12 ">Vin: <b>{{product.id}}</b></div>
                        <div class="p-col-12">Year: <b>{{product.title}}</b></div>
                        <div class="p-col-12">Brand: <b>{{product.price}}</b></div>
                        <div class="p-col-12">Color: <b>{{product.intro}}</b></div>
                    </div>
                </div>
                <button pButton type="button" icon="pi pi-search" (click)="selectProduct($event, product)"></button>
            </div>
        </div>
    </ng-template>
</p-dataView>
<!-- 
<p-dialog header="product Details" [(visible)]="displayDialog" [minY]="70" showEffect="fade" [modal]="true" 
    [style]="{width: '225px'}" (onAfterHide)="onDialogHide()" [contentStyle]="{padding: '2em', textAlign: 'center'}">
    <div *ngIf="selectedProduct">
        <strong>{{selectedProduct.id}} - {{selectedProduct.title}}</strong>
    </div>
</p-dialog> -->