.height-101px {
    height: 101px;
}

.height-93px {
    height: 93px;
}

.login-container {
    width: 100%;
    height: 100vh;
    margin: 0 !important;
}

.login-form {
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

label {
    font-size: 15pt;
}