<div class="login-container d-flex align-items-center justify-content-center row">
    <div class="col-4 login-form">
        <h1 class="text-center text-purple">Đăng nhập</h1>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group height-93px">
                <label class="text-purple" for="email">Tài khoản</label>
                <input type="text" 
                    formControlName="email" placeholder="Email..."
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
                    <div *ngIf="f.email?.errors?.required">Vui lòng nhập tài khoản</div>
                </div>
            </div>
            <div class="form-group height-93px">
                <label class="text-purple" for="password">Mật khẩu</label>
                <input type="password" 
                    formControlName="password" placeholder="Mật khẩu..."
                    class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
                    <div *ngIf="f.password?.errors?.required">Vui lòng nhập mật khẩu</div>
                </div>
            </div>
            <div class="form-group height-101px">
                <re-captcha formControlName="fcaptcha" (resolved)="resolved($event)" ></re-captcha>
                <div *ngIf="submitted && f.fcaptcha?.value" class="invalid-feedback d-block">
                    <div *ngIf="f.fcaptcha?.value">Vui lòng click captcha</div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-purple">Đăng nhập</button>
                <a routerLink="/signup" class="btn text-purple">Đăng ký</a>
            </div>
        </form>        
    </div>
</div>
